/* Styles needed for Vue Flow to function. */
@import '@vue-flow/core/dist/style.css';
/* Custom theme */
@import 'custom-flow-theme.css';


body {
    background-image: radial-gradient(gray 70%, rgb(230, 230, 230));
    color: rgb(206, 206, 206);
    text-align: center;
    margin: 0;
    padding: 0;
}


button {
    outline: 1px solid rgb(0, 140, 255);
    border: none;
    background-color: rgb(71, 71, 71);
    color: rgb(247, 247, 247);
    transition: background-color 0.2s, color 0.4s, box-shadow 0.02s ease-out;
}

button:active {
    box-shadow: inset 0px 0px 5px rgb(15, 15, 15);
}

button[disabled] {
    background-color: rgb(117, 117, 117) !important;
    pointer-events: none;
}

button:hover {
    background-color: rgb(0, 140, 255);
    color: rgb(12, 12, 12);
}



#vueWrapper {
    display: flex;
    justify-content: center;
}

.general_outline {
    outline: 2px solid rgb(97, 97, 97);
}

#window_border {
    width: 95vw;
    height: 95vh;
    align-items: stretch;
    margin: 6px;
    display: flex;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(25, 25, 25));
    border: 4px ridge rgb(179, 11, 11);
    /* background: rgb(37, 37, 37); */
}

.app_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-width: 480px;
    min-height: 480px;
    width: 50%;
}

#left_side_container {
    border-right: 4px solid rgb(179, 11, 11);
}

#info_top_buttons_container {
    height: 80px;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info_buttons {
    height: 30px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    margin: 5px 5px 0;
}

.info_buttons:hover {
    background-color: rgb(0, 140, 255);
    color: rgb(12, 12, 12);
}


/* #region combat */

#combat_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.combat_graphics_container {
    display: flex;
    width: 100%;

    .combat_graphic {
        width: 37.5%;
        min-height: 240px;
        border: 4px ridge rgb(125, 125, 125);
    }
    
    .combat_graphic.not_fighting {
        background-color: grey;
    }

    .name_box {
        font-size: 20px;
        border-bottom: 2px solid rgb(125, 125, 125);
    }

    #info_soul_graphic {
        width: 25%;
        min-height: 180px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.combat_actions button {
    padding: 10px;
    margin-top: 4px;
    margin-right: 8px;
}

#turn_carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 8px 0;
    position: relative;
    width: 390px
}

#carousel_line {
    width: 300px;
    position: absolute;
}

.carousel_item {
    margin-left: 4px;
    margin-right: 4px;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.carousel-move,
.carousel-enter-active,
.carousel-leave-active {
    transition: all 0.4s ease;
}

.carousel-enter-from,
.carousel-leave-to {
    opacity: 0;
}
.carousel-enter-from {
    transform: translateX(24px);
}
.carousel-leave-to {
    transform: translateX(-100px);
}

.carousel-leave-active {
    position: absolute;
}


.attack-text-leave-active {
    transition: opacity 0.8s ease;
}
.attack-text-enter-active {
    transition: opacity 1ms;
}

.attack-text-leave-to,
.attack-text-enter-from {
    opacity: 0;
}



.stats_flex_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stats_container {
    min-width: 180px;
    width: 48%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
}


.combat_stats {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.info_hp_bar_outline {
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: rgb(170, 16, 16);
    z-index: 0;
}

.hp_bar_background {
    height: 100%;
    width: 100%;
    background-color: rgb(25, 139, 53);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#info_combat_log {
    width: 100%;
    height: 165px;
}



/* youre gonna want to have like, 3 boxes on top row 2 on bottom, and then absolutely position a bordered box with a background on top of them */

/* #endregion info */


/* #region soul upgrades */



/* #endregion */


/* #region currency */
#currency_section {
    text-align: center;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#soul_counter_container {
    font-size: 24pt;
    color: rgb(247, 247, 247);
    height: 80px;
    justify-content: center;
    margin-bottom: 1px;
    line-height: .8;
    min-width: 100px;
}

#soul_bead_counters_container {
    font-size: 8pt;
    margin-top: 10px;
    background-color: white;
    color: black;
}

/* #endregion */

/* #region map */
#maps_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map_keynodes {
    height: 100px;

}

#map_network {
    height: 50%;
    width: 100%;
    min-height: 400px;
    outline: 1px solid rgb(97, 97, 97);
    /* overflow: hidden;
    user-select: none;
    cursor: all-scroll; */
}

.map_item {
    position: absolute;
}

.vue-flow {
    background: #bbeaff;
}


/* #endregion */

.tab_container {
    display:flex
}

.selected {
    color: gold !important;
    background:grey;
}

.tab {
    align-items: center;
    color: inherit;
    border-width: 2px;
    border-style: solid solid none;
    padding: .75em 1em;
    margin: 0 4px;
    text-decoration: none;
}

.tab:hover {
    cursor: pointer;
    color: #9ec93d;
}