/* Styles needed for Vue Flow to function. */
@import 'custom-flow-theme.css';
@import '@vue-flow/core/dist/style.css';
/* Custom theme */

@import 'fonts.css';
/* Important colors:
rgb(0, 140, 255) blue accent.
rgb(0,98,179) accent dark, 
rgb(153,209,255) accent light
linear-gradient(rgb(53, 53, 53), rgb(25, 25, 25)) the two main colors for the background, both are used in various other portions.
*/


body {
    background-image: radial-gradient(gray 70%, rgb(230, 230, 230));
    color: rgb(206, 206, 206);
    text-align: center;
    margin: 0;
    padding: 0;
}


button {
    outline: 1px solid rgb(0, 140, 255);
    border: none;
    background-color: rgb(71, 71, 71);
    color: rgb(247, 247, 247);
    transition: background-color 0.2s, color 0.4s, box-shadow 0.02s ease-out;
    font-family: inherit;
    font-size: 1em; 
}

button:active {
    box-shadow: inset 0px 0px 5px rgb(15, 15, 15);
}

button[disabled] {
    background-color: rgb(117, 117, 117);
    pointer-events: none;
}

button:hover {
    background-color: rgb(0, 140, 255);
    color: rgb(12, 12, 12);
}



#vueWrapper {
    display: flex;
    justify-content: center;
}

.general_outline {
    outline: 2px solid rgb(97, 97, 97);
}




/* #region combat */

#combat_tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



#turn_carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 8px 0;
    position: relative;
    width: 390px
}

#carousel_line {
    width: 300px;
    position: absolute;
}

.carousel_item {
    margin-left: 4px;
    margin-right: 4px;
    width: 32px;
    height: 32px;
    z-index: 1;
}

.carousel-move,
.carousel-enter-active,
.carousel-leave-active {
    transition: all 0.4s ease;
}

.carousel-enter-from,
.carousel-leave-to {
    opacity: 0;
}
.carousel-enter-from {
    transform: translateX(24px);
}
.carousel-leave-to {
    transform: translateX(-100px);
}

.carousel-leave-active {
    position: absolute;
}


.attack-text-leave-active {
    transition: opacity 0.8s ease;
}
.attack-text-enter-active {
    transition: opacity 1ms;
}

.attack-text-leave-to,
.attack-text-enter-from {
    opacity: 0;
}

.info_hp_bar_outline {
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-image: linear-gradient(to right, rgb(44, 0, 0),rgb(90, 0, 0), rgb(170,16,16), rgb(255, 0, 0));
    z-index: 0;
    border: 3px outset silver;
}

.hp_bar_background {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgb(9, 53, 0),rgb(18, 109, 0), rgb(29, 175, 0), rgb(44, 190, 15));
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#info_combat_log {
    width: 100%;
    height: 165px;
}

/* #endregion info */


/* #region currency */
#currency_section {
    text-align: center;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#soul_counter_container {
    font-size: 24pt;
    color: rgb(247, 247, 247);
    justify-content: center;
    margin-bottom: 1px;
    line-height: .8;
    min-width: 100px;
}

#soul_bead_counters_container {
    font-size: 8pt;
    margin-top: 10px;
    background-color: white;
    color: black;
}

/* #endregion */

/* #region map */
#maps_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map_keynodes {
    height: 100px;

}

#map_network {
    height: 50%;
    width: 100%;
    min-height: 400px;
    outline: 1px solid rgb(97, 97, 97);
}

.map_item {
    position: absolute;
}

.vue-flow {
    background: #ebd5b3
}


/* #endregion */

.tab_container {
    display:flex;
    height: 40px;
}



.tab {
    align-items: center;
    color: inherit;
    border-width: 2px;
    border-style: solid solid none;
    padding: 10px 12px;
    margin: 0 4px;
    text-decoration: none;
}

.tab:hover {
    cursor: pointer;
    color: #9ec93d;
}

.divider {
    border-bottom: 1px solid;
}